footer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #C6d5c5;
	border-radius: 0 0 10px 10px;
	padding: 20px 10px;
	box-sizing: border-box;
}

footer div p {
	margin-top: 10px;
}

/* -------------------- Mediaqueries -------------------- */
@media screen and (max-width: 900px) {
	footer div {
		width: 100%;
		margin: auto;
		text-align: center;
		margin-bottom: 10px;
	}
}